Flows.json
[
    {
        "id": "acf12ff808b40a38",
        "type": "tab",
        "label": "brazil api corretoras ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "48baac630d851ba5",
        "type": "http request",
        "z": "acf12ff808b40a38",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://brasilapi.com.br/api/cvm/corretoras/v1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "4ea07a99cff7f468"
            ]
        ]
    },
    {
        "id": "4ea07a99cff7f468",
        "type": "function",
        "z": "acf12ff808b40a38",
        "name": "function 1",
        "func": "let corretoras = msg.payload;\ncorretoras = JSON.parse(corretoras);\n\n// Extraindo apenas o nome social, municipio e o cnpj de cada corretora\nlet listaFormatada = corretoras.map(item => {\n   return `${item.nome_social}  -  ${item.municipio}  /  ${item.cnpj}`;\n});\n\n// Formatando a mensagem como lista \nlet htmlLista = \"<ul>\";\nlistaFormatada.forEach(item =>{\n   htmlLista += `<li>${item}</li>`;\n});\nhtmlLista += \"</ul>\";\n\nmsg.payload = htmlLista;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "ca33ec4c4ba6287d"
            ]
        ]
    },
    {
        "id": "f3b47e6826691336",
        "type": "http in",
        "z": "acf12ff808b40a38",
        "name": "",
        "url": "/Corretoras",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "48baac630d851ba5"
            ]
        ]
    },
    {
        "id": "ca33ec4c4ba6287d",
        "type": "template",
        "z": "acf12ff808b40a38",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>Catalogo de corretoras</title>\n    <style>\n      body {font-family:Arial, sans-serif; padding:20px; background-color:#f2f2f2;}\n      h1 {color: #007acc;}\n      ul { list-style-type:none; padding:0;}\n      li {margin: 5px 50px; padding: 5px; background-color:white; border-radius:4px;}\n    </style>\n  </head>\n  <body>\n    <h1>Lista de corretoras</h1>\n    <p>{{{payload}}}</p> {{!-- 3 chaves para renderizar HTML vindo do payload --}}\n  </body>\n</html>",
        "output": "str",
        "x": 680,
        "y": 240,
        "wires": [
            [
                "193519c7edbd83e7"
            ]
        ]
    },
    {
        "id": "193519c7edbd83e7",
        "type": "http response",
        "z": "acf12ff808b40a38",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 280,
        "wires": []
    }
]